.area {
  position: absolute;
  right: 60px;
  top: 60px;
  width: 42em;
  padding: 15px;
  border: 1px solid #333;
  border: 2px dashed #bbb;
  border-radius: 5px;
  text-align: center;
  min-height: 500px;
  margin:auto;
}
.red{
  color:#f44336;
}
.yellow{
  color:#ffec07;
}
.green{
  color:#4caf50;
}
.red,.yellow,.green{
  font-weight: 600;
}
.card{
  float: left;
  min-height: 284px;
  margin: 15px;
}

.card-img-top{
  height: 333px;
}