/* Remove default bullets */
ul, #dropdown {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#dropdown {
  margin: 60px;
  padding: 0;
  width: 30%;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
.nested .draggable{
  cursor: pointer;
  color:#4caf50;
}
.nested .disabled{
  color:#f44336;
  -webkit-user-drag: none;
}
.nested .selected{
  color:#4caf50;
  opacity:0.5;
  -webkit-user-drag: none;
}
/* .nested .draggable .caret::before{
  color:green;
} */
/* .nested .disabled .caret::before{
  color:#f44336;
} */
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
.caret {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}
